{% extends "AppBundle::layout.html.twig" %}

{% block breadcrumb %}
    <a href="{{ path('client_list') }}"><span class="btn btn-primary right-btn">В список</span></a>
    <ul class="breadcrumb well">
        <li><a href="{{ path('client_list') }}">Список клиентов</a><span class="divider"></span></li>
        <li>Добавление<span class="divider"></span></li>
        {#<li><a href="{{ path('client_add') }}"><span class="btn btn-primary">Добавить</span></a></li>#}
    </ul>
{% endblock %}

{% block content %}
    <div class="well">
        <form method="POST">
            {{ form_widget(form) }}
        </form>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .frame{
            width: 100%;
        }
    </style>

{% endblock %}

