{% extends "AppBundle::layout.html.twig" %}

{% block breadcrumb %}
    <ul class="breadcrumb well">
    <li>Заявки<span class="divider"></span></li>
    <li>Список заявок</li>
    {#<li class="active">Добавление<span class="divider"></span></li>#}
        <li><a href="{{ path('order_add') }}"><span class="btn btn-primary">Добавить</span></a></li>
    </ul>
{% endblock %}

{% block content %}
    <div class="well">
        <table class="table">
            <tr>
                <th>№</th>
                <th>клиент</th>
                <th>План. окончание</th>
                <th>Статус</th>
                <th></th>
                <th class="setting">Инструменты</th>
            </tr>
            {% for item in pagination %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.client }}</td>
                    <td>{{ item.ends | date('d.m.Y') }}</td>
                    <td>{{ item.closed == 1 ? 'Закрытая' : 'Открытая' }}</td>
                    <td></td>
                    <td class="setting">
                        {% spaceless %}
                        <a href="{{ path('order_edit',{'id' : item.id}) }}">
                            <button type="button" class="btn btn-default btn-bg">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </a>
                            &nbsp;
                            &nbsp;
                        <a href="{{ path('order_remove',{'id' : item.id}) }}">
                            <button type="button" class="btn btn-default btn-bg">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </a>
                        {% endspaceless %}
                    </td>
                </tr>
            {% endfor%}
        </table>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}