{% extends "AppBundle::layout.html.twig" %}

{% block breadcrumb %}
    <ul class="breadcrumb well">
        <li>Список подрядчиков</li>
        {#<li class="active">Добавление<span class="divider"></span></li>#}
        <li><a href="{{ path('company_add') }}"><span class="btn btn-primary">Добавить</span></a></li>
    </ul>
{% endblock %}

{% block content %}
    <div class="well">
        <table class="table" data-toggle="table"
               data-sort-name="title"
               data-sort-order="asc">
            <thead>
                <tr>
                    {#<th>№</th>#}
                    <th data-field="title"
                        data-sortable="true">Название</th>
                    <th data-field="phone"
                        data-sortable="true">Телефон</th>
                    <th data-field="contact"
                        data-sortable="true">Контактное лицо</th>
                    <th data-field="status"
                        data-sortable="true">Статус</th>
                    <th data-field="setting"
                        data-sortable="false" class="setting">Инструменты</th>
                </tr>
            </thead>
            {% for item in pagination %}
                <tr>
                    {#<td>{{ item.id }}</td>#}
                    <td>{{ item }}</td>
                    <td>{{ item.phone }}</td>
                    <td>{{ item.contact }}</td>
                    <td>
                        {% if item.enabled == 1 %}
                            <span class="label label-success">Активна</span>
                        {% elseif item.enabled == 0 %}
                            <span class="label label-danger">Заблокирована</span>
                        {% endif %}
                    </td>
                    <td class="setting">
                        {% spaceless %}
                        <a href="{{ path('company_edit',{'id' : item.id}) }}">
                            <button type="button" class="btn btn-default btn-bg">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </a>
                            &nbsp;
                            &nbsp;
                        <a href="{{ path('company_remove',{'id' : item.id}) }}">
                            <button type="button" class="btn btn-default btn-bg">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </a>
                        {% endspaceless %}
                    </td>
                </tr>
            {% endfor%}
        </table>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}