{% extends "AppBundle::layout.html.twig" %}

{% block breadcrumb %}
    <ul class="breadcrumb well">
        <li>Список страниц</li>
        <li>Изменение<span class="divider"></span></li>
    </ul>
{% endblock %}

{% block content %}
    {#<div class="well">#}
        {#<iframe src="{{ path('admin_file_list') }}" class="frame"></iframe>#}
    {#</div>#}
    <div class="well">
        <form method="POST">
            {{ form_widget(form) }}
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/ckeditor/ckeditor.js') }}"></script>
    <script src="{{ asset('bundles/app/ckeditor/styles.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
<link href="{{ asset('bundles/app/ckeditor/contents.css') }}" rel="stylesheet">
<style>
    .frame{
        width: 100%;
    }
</style>
{% endblock %}